# Обучение FastText

В бейзлайне предполагается использовать векторы из библиотеки FastText, которые в данном ноутбуке обучатся на домен чеков

In [1]:
from gensim.models.fasttext import FastText
import pandas as pd

Выгрузим все чеки из размеченного датасета для обучения, а также из тестового датасета

In [2]:
train_df = pd.read_csv("train_supervised_dataset.csv").fillna("")
test_df = pd.read_csv("test_dataset.csv")
names = pd.concat((train_df[["name"]], test_df)).reset_index(drop=True)
names

                                                 name      id
0             Petmax Бантик леопард с красн розой 2шт     NaN
1                    87191 Бусы для елки шарики_87191     NaN
2                  Футболка Piazza Italia WR011446881     NaN
3      7) YI572-03X-ONE ЗАКОЛКА ДЛЯ ВОЛОС ДЛЯ ДЕВОЧКИ     NaN
4                                   Одежда (вес) 1500     NaN
...                                               ...     ...
29995                     774352 Рамка 2П., сл. кость  4995.0
29996                   Энерг. напиток Red Bull 0.25л  4996.0
29997               36/025 Наконечники (т. никель) шт  4997.0
29998     Шоколад РиттерСпорт мол.с цел.миндалем 100г  4998.0
29999                      00264242 Опора шаровая L=R  4999.0

[30000 rows x 2 columns]

В качестве предобработки приведем все к нижнему регистру
Токенизируем по пробельным символам

In [3]:
names["tokens"] = names["name"].str.lower().str.split()
names

,name,id,tokens
0,Petmax Бантик леопард с красн розой 2шт,NaN,"[petmax, бантик, леопард, с, красн, розой, 2шт]"
1,87191 Бусы для елки шарики_87191,NaN,"[87191, бусы, для, елки, шарики_87191]"
2,Футболка Piazza Italia WR011446881,NaN,"[футболка, piazza, italia, wr011446881]"
3,7) YI572-03X-ONE ЗАКОЛКА ДЛЯ ВОЛОС ДЛЯ ДЕВОЧКИ,NaN,"[7), yi572-03x-one, заколка, для, волос, для, ..."
4,Одежда (вес) 1500,NaN,"[одежда, (вес), 1500]"
...,...,...,...
29995,"774352 Рамка 2П., сл. кость",4995.0,"[774352, рамка, 2п.,, сл., кость]"
29996,Энерг. напиток Red Bull 0.25л,4996.0,"[энерг., напиток, red, bull, 0.25л]"
29997,36/025 Наконечники (т. никель) шт,4997.0,"[36/025, наконечники, (т., никель), шт]"
29998,Шоколад РиттерСпорт мол.с цел.миндалем 100г,4998.0,"[шоколад, риттерспорт, мол.с, цел.миндалем, 100г]"
29999,00264242 Опора шаровая L=R,4999.0,"[00264242, опора, шаровая, l=r]"

Обученные векторы положим в файл `fasttext.model` для использования в моделях

In [4]:
FastText(names["tokens"], vector_size=300).save("fasttext.model")